:root {
    --color-texto: #FFFFFF;
    --color-sub-texto: #C0C0C0;
    --color-botao: #167BF7;
    --color-fundo: #00030C;
    --fonte-principal: 'Inter';
}

body {
    background-color: var(--color-fundo);
    font-family: var(--fonte-principal)
}

* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
    /*left: 3.375rem;
    top: 7.813rem;
    right: 49.875rem;*/
}

.principal {
    align-items: center;
    background-image: url(../img/Background.svg);
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
}

.container__caixa {
    margin: 0 6em;
}

.container__titulo {
    color: var(--color-texto);
    font-family: 'Inter';
    line-height: 34px;
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
}

.container__img {
    margin: 1em 0 2em 0;
}

.container__botao-1, .container__botao-2 {
    text-align: center;
    display: block;
    border-radius: 8px;
    color: var(--color-texto);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    padding: 16px;
    gap: 16px;
    margin-bottom: 1em;
    text-decoration: none;
}

.container__botao-1 {
    background-color: var(--color-botao);
}

.container__botao-2 {
    background-color: transparent;
    border: 2px solid var(--color-texto);
}

.container__sub-texto {
    color: var(--color-sub-texto);
    font-family: 'Inter';
    line-height: 15px;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
}