.container-2 {
    align-items: center;
}

.container-2__img {
    margin: 0 4.313rem 0 10.313rem;
}

.container-2__titulo {
    font-weight: 700;
    font-size: 48px;
    line-height: 120%;
    margin-bottom: 0.5rem;
}

.container-2__texto {
    font-size: 16px;
    line-height: 150%;
    margin-right: 7.5rem;
    color: var(--color-sub-texto-2);
    opacity: 0.8;
}

.container-3__botao {
    display: inline-block;
    margin-top: 1rem;
}

.container-3 {
    align-items: center;
}

.container-3__descricao {
    margin-left: 6.5rem;
    width: 708px;
}

.container-3__img {
    margin: 0 0 0 4.375rem;
}