:root {
<<<<<<< HEAD
=======
    --color-texto: #FFFFFF;
    --color-sub-texto: #C0C0C0;
    --color-sub-texto-2: #F9F9F9;
>>>>>>> parte-central
    --color-botao: #167BF7;
    --color-fundo: #00030C;
    --color-sub-texto: #C0C0C0;
    --color-texto: #FFFFFF;
    --fonte-principal: 'Inter';
}

body {
    background-color: var(--color-fundo);
    color: var(--color-texto);
    font-family: var(--fonte-principal);
}

* {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 100vh;
}

.principal {
    align-items: center;
    background-image: url(../img/Background.svg);
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
}

.container__caixa {
    margin: 0 6em;
}

.container__titulo {
    font-family: 'Inter';
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
    text-align: center;
}

.container__img {
    margin: 1em 0 2em 0;
}

.container__botao-1, .container__botao-2 {
<<<<<<< HEAD
    border-radius: 8px;
    color: var(--color-texto);
    display: block;
=======
    color: var(--color-texto);
    text-align: center;
    display: block;
    border-radius: 8px;
>>>>>>> parte-central
    font-family: 'Inter';
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    gap: 16px;
    line-height: 150%;
    margin-bottom: 1em;
    padding: 16px;
    text-align: center;
    text-decoration: none;
}

.container__botao-1 {
    background-color: var(--color-botao);
}

.container__botao-2 {
    background-color: transparent;
    border: 2px solid var(--color-texto);
}

.container__sub-texto {
    color: var(--color-sub-texto);
    font-family: 'Inter';
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 15px;
}